@model INTEXPROJECT.Models.DisplayOrder
@{
    ViewBag.Title = "New Order";
}

<h2>New Order</h2>


    @Html.AntiForgeryToken()
    
<div class="form-horizontal">

    <hr />

    @*Order Priority Drop Down*@
    <div class="form-group">
        @Html.LabelFor(model => model.Priority_ID, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.Priority_ID, new SelectList(ViewBag.Priorities, "Priority_ID", "Description"))
            @Html.ValidationMessageFor(model => model.Priority_ID)
        </div>
    </div>

    @*Form data*@
    <form method="POST" action="AddAssay">
        <h5> Compound 1 </h5>
        <label for="compName1">Compound Name</label>
        <input name="compName1" value="text" /><br />
        <br />

        <label for="compWeight1">Compound Weight</label>
        <input name="compWeight1" value="text" /><br />
        <br />

        <label for='assayTest2.1'>Assay Test 1 </label>
        <select name="compName2.1">
            <option value='2'>Biochemical Pharmacology</option>
            <option value='3'>DiscoveryScreen</option>
            <option value='4'>ImmunoScreen</option>
            <option value='5'>ProfilingScreen</option>
            <option value='6'>PharmaScreen</option>
            <option value='7'>CustomScreen</option>
        </select> <br />

        <label for='assayTest2.1'>Assay Test 2 </label>
        <select name="compName2.1">
            <option value='1'>No additional tests needed</option>
            <option value='2'>Biochemical Pharmacology</option>
            <option value='3'>DiscoveryScreen</option>
            <option value='4'>ImmunoScreen</option>
            <option value='5'>ProfilingScreen</option>
            <option value='6'>PharmaScreen</option>
            <option value='7'>CustomScreen</option>
        </select> <br />

        <label for='assayTest2.1'>Assay Test 3 </label>
        <select name="compName2.1">
            <option value='1'>No additional tests needed</option>
            <option value='2'>Biochemical Pharmacology</option>
            <option value='3'>DiscoveryScreen</option>
            <option value='4'>ImmunoScreen</option>
            <option value='5'>ProfilingScreen</option>
            <option value='6'>PharmaScreen</option>
            <option value='7'>CustomScreen</option>
        </select> <br />

        <label for='assayTest2.1'>Assay Test 4 </label>
        <select name="compName2.1">
            <option value='1'>No additional tests needed</option>
            <option value='2'>Biochemical Pharmacology</option>
            <option value='3'>DiscoveryScreen</option>
            <option value='4'>ImmunoScreen</option>
            <option value='5'>ProfilingScreen</option>
            <option value='6'>PharmaScreen</option>
            <option value='7'>CustomScreen</option>
        </select> <br />

        <label for='assayTest2.1'>Assay Test 5 </label>
        <select name="compName2.1">
            <option value='1'>No additional tests needed</option>
            <option value='2'>Biochemical Pharmacology</option>
            <option value='3'>DiscoveryScreen</option>
            <option value='4'>ImmunoScreen</option>
            <option value='5'>ProfilingScreen</option>
            <option value='6'>PharmaScreen</option>
            <option value='7'>CustomScreen</option>
        </select> <br />

        <label for='assayTest2.1'>Assay Test 6 </label>
        <select name="compName2.1">
            <option value='1'>No additional tests needed</option>
            <option value='2'>Biochemical Pharmacology</option>
            <option value='3'>DiscoveryScreen</option>
            <option value='4'>ImmunoScreen</option>
            <option value='5'>ProfilingScreen</option>
            <option value='6'>PharmaScreen</option>
            <option value='7'>CustomScreen</option>
        </select> <br />

        @Html.Raw(ViewBag.addCompound)<br />
        @Html.ActionLink("Add another compound to this order", "AddCompound", new { @class = "col-md-10" })
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Place Order" class="btn btn-default" />
            </div>
        </div>

    </form>
</div>
