@model INTEXPROJECT.Models.DisplayOrder
@{
    ViewBag.Title = "New Order";
}

<h2>New Order</h2>


    @Html.AntiForgeryToken()
    
<div class="form-horizontal">

    <hr />

    @*Order Priority Drop Down*@
    <div class="form-group">
        @Html.LabelFor(model => model.Priority_ID, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.Priority_ID, new SelectList(ViewBag.Priorities, "Priority_ID", "Description"))
            @Html.ValidationMessageFor(model => model.Priority_ID)
        </div>
    </div>

    @*Form data*@
    <form method="POST" action="AddAssay">
        <h5> Compound 1 </h5>
        <label for="compName1">Compound Name</label>
        <input name="compName1" value="text" /><br />
        <br />

        <label for="compWeight1">Compound Weight</label>
        <input name="compWeight1" value="text" /><br />
        <br />

        <label for="assayTest1">Assay Test</label>
        <input name="assayTest1" value="text" /><br />

        @Html.Raw(ViewBag.addCompound)<br />
        @Html.ActionLink("Add another compound to this order", "AddCompound", new { @class = "col-md-10" })
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Place Order" class="btn btn-default" />
            </div>
        </div>

    </form>
</div>
